@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/helvetica-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica/helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Perpetua";
  src: url("../fonts/perpetua/perpetua-titling-mt-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: #ffffff;

  background-color: #191919;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1090px;
  margin: 0 auto;
}

.page-navigation-list {
  display: grid;
  grid-template-columns: 560px 420px 110px;
  margin: 0;
  padding: 22px 0;
}

.page-navigation-item {
  list-style-type: none;
}

.page-navigation-link {
  position: relative;
  padding: 5px 16px 5px 0;

  font-size: 14px;
  line-height: 14px;
  text-decoration: none;

  color: #ffffff;
}

.page-navigation-link-current::before {
  content: "";

  position: absolute;
  width: 6px;
  height: 6px;
  right: 0;
  top: 11px;

  background-color: #ffffff;
  border-radius: 50%;
}

.main-container {
  background-image: url(../images/background-history.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 -180px;
}

.index-main {
  width: 1090px;
  margin: 0 auto;
}

.main-title {
  padding: 200px 0 254px;
  margin: 0;

  font-family: "Perpetua", "Times New Roman", serif;
  font-size: 100px;
  line-height: 100px;
  font-weight: 300;
  letter-spacing: 0.4em;
  text-align: center;
}

.history-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 163px;
  padding: 0;
}

.history-item {
  list-style-type: none;

  color: #ccc8c8;
}

.history-item:first-child {
  display: flex;
  align-items: center;
}

.history-year {
  font-size: 36px;
  line-height: 47px;

  color: #ffffff;
}

.history-text {
  margin-left: 19px;
}

.music {
  position: relative;
}

.music-container {
  position: relative;
}

.music-descriptor-big {
  margin: 0;
  width: 1080px;

  font-size: 36px;
  line-height: 47px;
}

.music-descriptor-small {
  width: 560px;
  margin: 20px 0 192px 120px;

  color: #ccc8c8;
}

.music-uppercase {
  width: 1060px;
  margin: 0;

  font-size: 58px;
  line-height: 70px;
  text-transform: uppercase;

  color: #ccc8c8;
}

.music-link {
  display: inline-block;
  position: relative;
  width: 100px;
  padding: 37px 32px;
  margin-bottom: 369px;
  margin-left: 495px;
  box-sizing: border-box;

  text-decoration: none;

  color: #ffffff;
}

.music-link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  box-sizing: border-box;

  border: 1px solid #ffffff;
  border-radius: 50%;
}

.music-image-wrapper {
  position: absolute;
  top: 160px;
  right: 110px;

  z-index: -1;
}

.music-image-descriptor {
  font-size: 12px;
  line-height: 17px;
}

.music-image {
  display: block;
  margin-bottom: 10px;
}

.music-bold {
  display: block;
  margin-bottom: 20px;

  font-weight: 400;
}

.misic-list {
  margin: 0;
  margin-bottom: 255px;
  padding: 0;
}

.music-item {
  list-style-type: none;

  color: #ccc8c8;
}

.music-listen-link {
  display: inline-block;
  position: relative;
  padding: 37px 22px;
  margin-bottom: 160px;
  width: 100px;
  box-sizing: border-box;

  text-decoration: none;

  color: #ffffff;
}

.music-listen-link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  box-sizing: border-box;

  border: 1px solid #ffffff;
  border-radius: 50%;
}

.music-index-wrapper {
  position: absolute;
  left: 360px;
  bottom: 209px;
}

.music-figcaption {
  max-width: 630px;

  font-size: 36px;
  line-height: 47px;
}

.music-text-big {
  width: 580px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 47px;
}

.members {
  position: relative;
}

.music-text-small {
  width: 560px;
  margin: 0;
  margin-left: 120px;
  margin-bottom: 58px;
}

.members-image {
  display: block;

  margin-left: auto;
  margin-right: -6px;
}

.members-item-wrapper {
  width: 820px;
  margin-left: auto;
  margin-right: -90px;
  margin-top: -260px;
  margin-bottom: 240px;
}

.members-item {
  position: relative;
  display: flex;
  padding: 40px 0;

  border-bottom: 1px solid #c4c4c4;

  z-index: 1;
}

.members-title {
  width: 200px;
  margin: 0;

  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
}

.members-name {
  max-width: 450px;
  margin: 0;
  margin-bottom: 6px;

  font-size: 36px;
  line-height: 47px;
}

.members-years {
  margin: 0;

  font-size: 12px;
  line-height: 17px;
}

.members-link {
  position: absolute;
  right: 10px;
  top: 66px;
  display: block;
  padding: 37px 16px;
  box-sizing: border-box;

  text-decoration: none;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;

  z-index: 2;
}

.religion-descriptor-big {
  max-width: 640px;
  margin: 0;
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 47px;
}

.religion-descripttor-small {
  max-width: 565px;
  margin: 0;
  margin-left: 120px;
  margin-bottom: 160px;
}

.gallery {
  position: relative;
  padding: 0 130px 0 120px;
  margin-bottom: 140px;

}

.gallery-photo {
  display: block;
  margin-left: auto;
}

.gallery-photo-left {
  margin-left: 0;
  margin-right: auto;
}

.gallery-photo + .gallery-photo {
  margin-top: 20px;
}

.gallery-link {
  position: absolute;
  right: 190px;
  bottom: 300px;
  display: inline-block;
  padding: 37px 25px;
  box-sizing: border-box;

  text-decoration: none;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
